html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  background-color: #b2b2b2;
  padding: 10px;
  border: 4px solid rgb(0, 0, 0);
}
body{
  background-color: rgb(235, 234, 234);
}
caption {
  padding: 10px;
  color: #0d00ff;
}
table {
  border-collapse: collapse;
  width: 60%;
  border: 4px solid rgb(0,0,0);
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
td,th {
  border: 2px solid rgb(0, 0, 0);
  padding: 15px 20px;
}
td {
  text-align: center; background-color: rgb(188, 218, 255);
}
th {
  background-color: rgb(192, 192, 192);
}
